*{
    box-sizing: border-box;
}

button {
    cursor: pointer;
}

body{
    font-family: sans-serif;
}

main{
    width: 70%;
    margin: 0 auto 20px;
    display: flex;
    flex-direction: column;
    /* background-color: firebrick; */
}

.top{
    width: 700px;
    margin: 0 auto;
    display: flex;
    justify-content: space-evenly;
    margin-top: 50px;
    /* background-color: aqua; */
}

.top > img {
    width: 350px;
}

.right-content{
    width: 700px;
    /* background-color: #3D77A1;    */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:space-between;
    font-size: 30px;
    letter-spacing: 3px;
}

.top .right-content > button {
    min-width: 155px;
    height: 45px;
    background-color: #58AF61;
    border-radius: 10px;
    border: none;
    color: white;
    font-size: 15px;
    font-weight: bold;
    margin-top: 25px;
    margin-left: 40px;
}

.top .right-content .word {
    font-weight: bold;
}

.bottom{
    width: 70%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* background-color: lightgreen; */
}

.bottom > .keyboard {
    width: 510px;
    height: 78px;
    /* border: 1px solid gray; */
    display: flex;
    flex-wrap: wrap;
    margin-top: 40px;
}

.bottom > .keyboard button {
    height: 35px;
    width: 35px;
    background-color: #E1ECF4;
    border-radius: 3px;
    color: #3D77A1;
    border: 1px solid #3D77A1;
    display: flex;
    align-items: center;
    justify-content: center;

    font-weight:bold;
    font-size: 13px;
    margin: 2px;
}

.bottom > .keyboard button:disabled{
    color: #636871;
    background-color: #9FAAB5;
    border: none;
}

.bottom > .input-container {
    height: 50px;
    width: 470px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* background-color: aqua;   */
    margin-top: 10px;
}

.bottom > .input-container input {
    width: 250px;
    height: 30px;
    border-radius: 4px;
    border: 2px solid rgb(192, 192, 192);
}


.bottom > .input-container button {
    width: 70px;
    height: 38px;
    background-color: #E1ECF4;
    color: #3D77A1;
    font-weight: bold;
    border-radius: 5px;
    border: 1px solid #3D77A1;

}

.hidden {
    display: none;
}

.red {
    color: red;
}

.green {
    color: green;
}